<% content_for :title, "Walkthrough - Yard Sign Call Sheet" %>
<p class="pb-4">Logged in:
    <%=current_user.name%></p>

<div class="container call-card">
    <div class="row">
        <div class="w-100 justify-content-center d-flex pb-4">
            <%=image_tag asset_path("logo.png"), id:"logo"%>
        </div>
        <h3 class="text-center w-100">WALKTHROUGH DEMO SCRIPT</h3>
        <h4 class="text-center w-100">Yard Sign Call Sheet</h4>
    </div>
    <div class="row">
        <div id="voter" class="col-lg-4">
            <h5>Voter Information</h5>
            <div>Name: Example Voter</div>
            <div>Phone: 512-555-5555</div>
            <div>Address: 123 Example Address, Austin, TX 78745</div>
            <div>Status: Not Called Yet</div>
        </div>
        <div class="col">

        </div>
        <div class="col-4 d-flex align-items-end">
            <%= link_to "Discard Call Sheet and Go Home", root_path, class:"ml-auto btn btn-danger"%>
        </div>
    </div>
    <div class="row text-right">

    </div>
    <%= form_with(url: "/calls/walkthrough", method: "get") do |f| %>
    <input type="hidden" name="voter[id]" value="5000"/>
    <div id="id-check" class="script-row">
        <div class="section-text">Hello, may I please speak to
            <b>Example Voter</b>?</div>
        <div class="section-options">
            <div class="row button-group" data-toggle="buttons">
                <label type="radio" class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Correct Person", id:"correct-person", next:"correct-person", class:"script-option", checked:false %>
                    Talking to Correct Person
                </label>
                <label type="radio" class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Call Back Later", id:"call-back-later", next:"call-back-later", class:"script-option", checked:false %>
                    Call Back Later
                </label>
                <label type="radio" class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Left Voicemail", id:"voicemail", next:"voicemail", class:"script-option", checked:false %>
                    Voicemail
                </label>
                <label type="radio" class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Wrong Number", id:"wrong-number", next:"wrong-number", class:"script-option", checked:false %>
                    Wrong Number
                </label>
                <label type="radio" class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Moved", id:"moved", next:"end-call", class:"script-option", checked:false %>
                    Moved
                </label>

                <label type="radio" class="btn btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Disconnected", id:"disconnected", next:"submit", class:"script-option", checked:false %>
                    Disconnected/Out of Service
                </label>
                <label type="radio" class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Deceased", id:"deceased", next:"deceased", class:"script-option", checked:false %>
                    Deceased
                </label>
                <label type="radio" class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Refused", id:"refsued", next:"end-call", class:"script-option", checked:false %>
                    Refused
                </label>
                <label itype="radio" class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :status, "Do Not Call", id:"do-not-call", next:"do-not-call", class:"script-option", checked:false %>
                    Do Not Call
                </label>
            </div>
        </div>
    </div>

    <div id="section-correct-person" class="script-row">
        <div class="section-text">
            Hi
            <b>Example Voter</b>, My name is
            <b>[Your Name]</b>. I'm a volunteer with the Lloyd Doggett for Congress campaign.
            <br/>
            <br/>
            I’m calling to make sure Congressman Doggett can still count on your support this November?
        </div>
        <div class="section-options">
            <div class="row button-group" data-toggle="buttons">
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :support, "Supporter", id:"will-support", next:"will-support",class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    Yes, will support
                </label>
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :support, "Not Supporter | ", id:"will-not-support", next: "will-not-support", class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    Undecided/No
                </label>
            </div>
        </div>
    </div>

    <div id="section-will-not-support" class="script-row">
        <div class="section-text">
            Okay. Why are you not supporting Congressman Doggett?
        </div>
        <div class="section-options">
            <div class="row">
                <div class="form-group w-100" style="padding: 10px 10px;">
                        <%= text_field_tag "voter[no_support]", nil, id:"no-support-reason", placeholder:"Reason for not supporting (Leave blank if no response)", autocomplete:"", class:"form-control input-group-form w-100"%>
                </div>
            </div>
        </div>
        <div class="section-text">
            Thanks for your time and have a great rest of your day! <b>[END CALL]</b>
        </div>
    </div>

    <div id="section-will-support" class="script-row">
        <div class="section-text">
            Great! We are delivering yard signs after Labor Day (September 7th). Can the campaign place the yard sign in your yard?
        </div>
        <div class="section-options">
            <div class="row button-group" data-toggle="buttons">
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :sign, "Yes (Campaign place sign)", id:"yes-sign-campaign",next:"confirm-address", class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    Yes (Campign place sign)
                </label>
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :sign, "Yes (Leave sign at door)", id:"yes-sign-door",next:"confirm-address", class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    Yes (Leave sign at door)
                </label>
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :sign, "No", id:"n-sign",next:"end-call", class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    No
                </label>
            </div>
        </div>
    </div>

    <div id="section-confirm-address" class="script-row">
        <div class="section-text">
            That’s wonderful. Is your address still <b>123 Example Address, Austin, TX 78745</b>?
        </div>
        <div class="section-options">
            <div class="row button-group" data-toggle="buttons">
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :address, "dont", id:"correct-address",next:"correct-address", class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    Yes
                </label>
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :address, "update", id:"incorrect-address",next:"incorrect-address", class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    No
                </label>
            </div>
        </div>
    </div>

    <div id="section-incorrect-address" class="script-row">
        <div class="section-text">
            What is your new address?
        </div>
        <div class="section-options">
            <div class="row">
                <div class="form-group w-100 m-0" style="padding: 4px 10px;">
                    <%= text_field_tag 'voter[new_address]', nil, id:"new-address", placeholder:"Insert Address here", autocomplete:"", class:"form-control input-group-form w-100"%>
                </div>
                <div class="form-group w-100 m-0" style="padding: 4px 10px;">
                    <%= text_field_tag 'voter[city]', nil, id:"new-city", placeholder:"Insert City here", autocomplete:"", class:"form-control input-group-form w-100"%>
                </div>
                <div class="form-group w-100 m-0" style="padding: 4px 10px;">
                    <%= text_field_tag 'voter[states]', nil, id:"new-state", placeholder:"Insert States here", autocomplete:"", class:"form-control input-group-form w-100"%>
                </div>
                <div class="form-group w-100 m-0" style="padding: 4px 10px;">
                    <%= text_field_tag 'voter[zip5]', nil, id:"new-zip", placeholder:"Insert Zipcode here", autocomplete:"", class:"form-control input-group-form w-100"%>
                </div>
            </div>
        </div>
        <div class="section-text">
            Thank you! We will deliver the yard sign sometime after Labor Day.
        </div>
    </div>

    <div id="section-correct-address" class="script-row">
        <div class="section-text">
            Great! We will deliver the yard sign sometime after Labor Day.
        </div>
    </div>

    <div id="section-volunteer-ask" class="script-row" style="border:none">
        <div class="section-text">
            Are you interest in volunteering for Congressman Doggett?
        </div>
        <div class="section-options">
            <div class="row button-group" data-toggle="buttons">
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :volunteer, "Yes", id:"will-volunteer",next:"will-volunteer", class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    Yes, will volunteer
                </label>
                <label class="btn btn-lg btn-script btn-primary col-3">
                    <%= f.radio_button :volunteer, "No", id:"will-not-volunteer",next:"end-call", class:"script-option", checked:false, type:"radio", autocomplete:"off" %>
                    No
                </label>
            </div>
        </div>
    </div>

    <div id="section-will-volunteer" class="script-row">
        <div class="section-text">
            Great! Whats your email address? <!--  <a class="item-text" target="_blank" rel="noopener noreferrer" href="https://www.votedoggett.com/getinvolved/">{Volunteer Link}</a> -->
            <div class="form-group w-100 m-0" style="padding: 4px 10px;">
                <%= text_field_tag 'voter[email]', nil, id:"email", placeholder:"Insert Email here", autocomplete:"", class:"form-control input-group-form w-100"%>
            </div>
            <i>The voter will be automatically signed up to volunteer.</i>
            <br />
            <br />
            Thank you for your time and have a good rest of your day! <b>[END CALL]</b>
        </div>
    </div>

    <div id="section-wrong-number" class="script-row">
        <div class="section-text">
            Sorry about that. We'll remove you from our list. <b>[END CALL]</b>
        </div>
    </div>

    <div id="section-call-back-later" class="script-row">
        <div class="section-text">
            Got it. We'll call back later. <b>[END CALL]</b>
        </div>
    </div>

    <div id="section-voicemail" class="script-row">
        <div class="section-text">
            Hi, this is <b>[Your Name]</b> with the Lloyd Doggett for Congress campaign. I’m calling to thank you for your past support for Congressman Lloyd Doggett. If you would like to receive a free Doggett yard sign or get more info, please call (737) 900 7063. Thank you. <b>[END CALL]</b>
        </div>
    </div>

    <div id="section-deceased" class="script-row">
        <div class="section-text">
            I’m sorry about that. Thank you for your time. <b>[END CALL]</b>
        </div>
    </div>

    <div id="section-end-call" class="script-row">
        <div class="section-text">
            Got it. Thanks for your time and have a great rest of your day! <b>[END CALL]</b>
        </div>
    </div>

    <div id="section-do-not-call" class="script-row">
        <div class="section-text">
            I'll remove you from our list. Have a good day. <b>[END CALL]</b>
        </div>
    </div>

    <div id="section-submit" class="script-row text-center pb-2" style="background-color:lightgrey; margin-top:50px">
        <p class="text-center w-100">
            *** Please ensure the correct buttons were pressed and all of the data is accurate before ending the call and submitting the call sheet. ***
        </p>
        <p class="text-center w-100">
            *** The website will automatically record the answers and update the voters information. You do not need to enter any other data or information. ***
        </p>
        <%= link_to "End Demo", root_path, class:"btn btn-lg btn-warning px-5"%>
    </div>

<% end %>

</div>
