<div class="container voter-table-card mt-5">
    <div class="row">
        <div class="w-100 justify-content-center d-flex pb-4">
            <%=image_tag "/assets/logo.png", id:"logo"%>
        </div>
        <h3 class="text-center w-100">All Voters</h3>
    </div>
    <div class="row mb-4">
        <%= link_to "Make Another Call", calls_path, class:"btn btn-primary mr-1"%>
        <%= link_to "Home Page", root_path, class:"btn btn-primary ml-1"%>
    </div>
    <div class="row">
        <input class="form-control" id="voterSearch" type="text" placeholder="Search..">
        <div class="table mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Support</th>
                        <th scope="col">Yard Sign</th>
                        <th scope="col">Volunteer</th>
                    </tr>
                </thead>
                <tbody id="voter-table">
                    <% @voters.each do |v| %>
                        <tr>
                            <th scope="row"><%=v.id%></th>
                            <td><%=v.name%></td>
                            <td><%=v.email%></td>
                            <td><%=v.address%></td>
                            <td><%=v.status%></td>
                            <td><%=v.support%></td>
                            <td><%=v.sign%></td>
                            <td><%=v.volunteer%></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
