<div class="container voter-table-card mt-5">
    <div class="row">
        <div class="w-100 justify-content-center d-flex pb-4">
            <%=image_tag asset_path("logo.png"), id:"logo"%>
        </div>
        <h4 class="text-center w-100">Your Call List</h4>
    </div>
    <div class="row mb-4">
        <%= link_to "Home", root_path, class:"btn btn-primary mx-1"%>
        <%= link_to "Make a Call", calls_path, class:"btn btn-primary mx-1"%>
    </div>
    <% if current_user.admin? %>
    <div class="row mb-4">
        <%= form_tag import_voters_path, multipart: true do %>
            <%= file_field_tag :file, class:"btn btn-dark" %>
            <%= submit_tag "Import", class:"btn btn-warning" %>
        <% end %>
    </div>
    <%end %>
    <div class="row">
        <h5>Calls made: <%=current_user.stats%></h5>
        <input class="form-control" id="voterSearch" type="text" placeholder="Search...">
        <div class="table mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" style="width:20%">Address</th>
                        <th scope="col" >Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Last Called</th>
                        <th scope="col">Support</th>
                        <th scope="col">Yard Sign</th>
                        <th scope="col">Volunteer</th>
                        <th scope="col">Caller</th>
                    </tr>
                </thead>
                <tbody id="voter-table">
                    <% @voters.order('voters.status ASC').each do |v| %>
                        <tr>
                            <td scope="row"><%=v.name%></td>
                            <td><%=v.full_address%></td>
                            <td><%=v.format_phone%></td>
                            <td><%=v.status%></td>
                            <td><%=v.contact%></td>
                            <td><%=v.support%></td>
                            <td><%=v.sign%></td>
                            <td><%=v.volunteer%></td>
                            <td><%=v.user.name%></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
